/***************
A MORE MODERN SCALE
http://typecast.com/blog/a-more-modern-scale-for-web-typography
***************/

body {
    .intro {
        font-size: 1.25em;
        line-height: 1.7;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0.5rem 0 1.5rem;
    font-family: $sans-serif;
}
